'Votes' => {
    {
        'nom'   => 'Vote 1',
        'lien'  => 'http://ftbservers.com/server/10859/view/infinity-mineaurion-com'
    },
    [
        'nom'    => 'Vote 2',
          'lien'    => 'https://moddedminecraftservers.com/server/mineaurion-infinity.10349/'
    ],
      [
          'nom'    => 'Vote 3',
          'lien'    => 'http://minecraft-mp.com/server/47193/vote/'
    ],
    [
        'nom'   => 'Vote 4',
        'lien'  => 'https://top-serveurs.net/minecraft/vote/mineaurion-ragnamod-6-serveur-francais'
    ],
    [
        'nom'   => 'Vote 5',
        'lien'  => 'https://mc-servers.com/details/2191/'
    ],
    [
        'nom'   => 'Vote 6',
        'lien'  => 'https://serveur-prive.net/minecraft/mineaurion-serveur-francais-45/vote'
    ],
    [
        'nom'   => 'Vote 7',
        'lien'  => 'https://craftlist.org/mineaurion-serveur-ftb-francais'
    ],
    [
        'nom'   => 'Vote 8',
        'lien'  => 'https://www.serveursminecraft.org/serveur/6279/'
    ],
    [
        'nom'   => 'Vote 9',
        'lien'  => 'https://www.liste-serveurs-minecraft.org/serveur-minecraft/mineaurioncom/'
    ],
    [
        'nom'   => 'Vote 10',
        'lien'  => 'https://www.trackyserver.com/fr/server/mineaurion-com-1867650'
    ],
        [
        'nom'   => 'Vote 11',
        'lien'  => 'https://serveurs-mc.net/serveur/426'
    ],