/*CSS RESET*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}

.container {
  --container-width: 1320px;
}

.top,
header,
.hero,
.features,
.launcher,
.servers-list,
.footer,
.footer-bottom,
#statut-servers-list,
.awards {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width)/ 2);
  padding-right: calc(50% - var(--container-width)/ 2);
}

/*CSS RESET*/

/* ROOT */

:root {
 --main-color : #4D9ED8;
 --second-color : #242231;
 --third-color : #4F476D;
 --main-font : 'Roboto', sans-serif;
}



/* END ROOT */
/*TOPBAR*/
.top {
  background-color: #242231;
  height: 65px;
  font-family: var(--main-font);
  display: flex;
  align-content: center;
  color: white;
}
.infos {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.uniquePlayer {
  margin-left: 23px;
}

.social {
  display: flex;
  align-items: center;
}
.social-title {
  margin-right: 1rem;
}
.social-links {
  list-style-type: none;
  display: flex;
}
#social-link-discord {
  margin-right: 10px;
  transition: 0.5s;
}
#social-link-discord:hover {
  transform: rotate(360deg);
}


#social-link-ytb {
transition: 0.5s;
}
#social-link-ytb:hover {
  transform: rotate(360deg);
}
/* END TOPBAR */

/* NAVBAR */

header {
  height: auto;
  background-color: #4F476D;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarleft {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.navbarright {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.navlink {
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  text-decoration: none;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.navlink:hover {
  filter: brightness(1);
  cursor: pointer;
}
.navlink-active {
  color: var(--main-color);
  font-family: sans-serif;
  font-size: 22px;
  text-decoration: none;
  filter: brightness(0.90);
  transition: .5s;
  transition-property: filter;
}
.navlink-active:hover {
  filter: brightness(1);
  cursor: pointer;
}
.responsive {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 6px;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.logo:hover {
  filter: brightness(1);
  cursor: pointer;
}
.burger {
  display: none;
}

/* END NAVBAR */

/* HERO */

.hero {
  display: flex;
  flex-direction: row;
  background: url("../img/background.svg") no-repeat center;
}
.hero-left {
  margin-top: 120px;
}
.hero-text > h1 {
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 80px;
}
.hero-text > p {
  color: white;
  font-family: sans-serif;
  font-size: 35px;
  width: 68%;
}
.hero-btn {
  display: flex;
  margin-top: 47px;
  justify-content: center;
  align-items: center;
  height: 91px;
  width: 60%;
  border-radius: 6px;
  border-style: none;
  font-family: sans-serif;
  background-color: #4D9ED8;
  color: white;
  font-size: 30px;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.hero-btn:hover {
  filter: brightness(1);
  cursor: pointer;
}

/* END HERO */

/* FEATURES */
.features {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #4F476D;
  font-weight: 300;
}
.feature {
  position: relative;
}
.feature-logo {
  position: absolute;
  height: 56px;
  width: 56px;
  top: 5px;
  left: -3px;
}
/* .feature-logo {

} */
.feature-title > h2 {
  margin-left: 70px;
  margin-top: 8px;
}
.feature-text > p {
  margin-top: 7px;
  margin-left: 70px;
  width: auto;
}
/* END FEATURES */

/* LAUNCHER */

.launcher {
  height: 600px;
  background-color: #242231;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}
.launcher > h2 {
  /* padding-top: 132px; */
  font-size: 36px;
  font-weight: 300;
}
.launcher > p {
  margin-top: 44px;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  width: 60%;
}
.launcher > p:last-child {
  margin-top: 0;
}
.btns {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
}
.btns > a {
  text-decoration: none;
}
.btn-launcher {
  width: 450px;
  height: 72px;
  background-color: #4D9ED8;
  border: none;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color:  white;
  text-transform: uppercase;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.btn-launcher:hover {
  cursor: pointer;
  filter: brightness(1);

}
.btn-launcher > img {
  position: absolute;
  left: 32px;
  top: 12px;
}
.btn-launcher-linux {
  margin-left: 16px;
}

/* END LAUNCHER */

/* SERVERS LIST */
.servers-list {
  margin-top: 150px;
}
.servers-list > h2 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4F476D;
  text-align: center;
}
.servers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  margin-top: 63px;
}
.server > img {
  transition: 0.6s;
  /* filter: blur(2px); */
}
.server > img:hover {
 /* filter: blur(0); */
 cursor: pointer;
 transform: scale(1.07);
}
#curret {
  margin-top: 10px;
  height: 43px;
  width: 100%;
  
}
#servers-info {
  margin-top: 13px;
  width: 100%;
  height: 370px;
  background-color: #4F476D;
  font-family: "Roboto", sans-serif;
  display: none;
}

#server-text {
  padding-left: 119px;
  padding-top: 80px;
}
.server-name {
  color: #ffff;
  font-size: 40px;
}
.server-ip {
  margin-top: 36px;
  font-weight: 300;
  font-size: 25px;
  color: #A4ABBF;
}
.server-description {
  font-size: 25px;
  margin-top: 38px;
  font-weight: 300;
}

/* END SERVERS LIST */


/* FOOTER */
.footer {
  margin-top: 150px;
  position: relative;
}
.footer-top {
  background-color: #242231;
  height: 82px;
  position: absolute;
  width: 100%;
  left: 0;
}
.footer-arrow {
  background-color: #4D9ED8;
  height: 82px;
  width: 82px;
  position: absolute;
  right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.8);
  transition: .5s;
}
.footer-arrow:hover {
  filter: brightness(1);
  cursor: pointer;
}
#arrow-top {
  height: 20px;
  width: 38px;
}

.footer-bottom {
  background-color: #4D9ED8;
  height: 335px;
  width: 100%;
  font-family: sans-serif;
  color: white;
  position: absolute;
  left: 0;
  top: 82px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-links {
  margin-top: 70px;
}
.footer-links > ul {
  margin-top: 26px;
}
.footer-links > ul > li {
  list-style-type: none;

}
.footer-title {
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.footer-link {
  font-size: 16px;
  color: #242231;
  text-transform: uppercase;
  line-height: 23px;
  text-decoration: none;
  display: flex;
  justify-content: center;

}
.copyright {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: #242231;
  height: 60px;
}
#copyright-text {
color: wheat;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
position: absolute;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1440px) {
  .container {
    --container-width: 1121px;
  }
  .social-links {
    margin-right: 20px;
  }
  .lama {
    width: auto;
  }
  .hero-right {
    margin-left: auto;
  }
  .hero-text > h1 {
    font-size: 68px;
  }
  .hero-text > p {
    font-size: 25px;
  }
  .features {
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .feature {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .feature-logo {
    height: 45px;
  }
  .launcher > h2 {
    margin-bottom: 30px;
  }
  .launcher > p {
    line-height: 35px;
    width: 53%;
    margin-left: 0;
    margin-top: 0;
  }
  .btns {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .btn-launcher {
    width: 27em;
  }
  .btn-launcher-linux {
    margin-top: 20px;
    margin-left: 0;
  }
  .servers {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-between;
  }
  .server {
    margin-top: 10px;
  }
}
/* @media screen and (max-width: 1024px){
  .container {
    --container-width: 1000px;
  }
  .infos {
    justify-content: center;
    align-items: center;
    margin-left: 45px;
  }
  .infos > span {
    font-size: 15px;
  }
  .social-title {
    font-size: 15px;
  }
  .social-link-discord > img {
    height: 15px;
  }
  social-link-ytb {
    height: 15px;
    width: 20px;
  }
  .navlink {
    font-size: 16px;
  }
  .logo > a > img {
    width: auto;
    height: 110px;
  } 
  .hero {
    height: 350px;
  }
  .hero-left {
    margin-top: 80px;
    margin-left: auto;
  }
  .hero-right {
    margin-right: auto;
  }
  .hero-text > h1 {
    font-size: 40px;
  }
  .hero-btn {
    height: 60px;
    font-size: 20px;
  }
  .lama {
    width: 220px;
  }
  .feature-logo {
    margin-left: 8px;
  }
  .launcher > h2 {
    font-size: 30px;
  }
  .launcher > p {
    font-size: 20px;
  }
  .btns {
    flex-direction: column;
  }
  .btn-launcher {
    font-size: 20px;
    width: 27em;
  }
  .btn-launcher-linux {
    margin-top: 20px;
    margin-left: 0;
  }
  .servers {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  } 
} */
@media screen and (max-width: 768px) {
  .hero-left {
    margin-left: 30px;
  }
  .hero-right {
    margin-right: 30px;
  }
  .features {
    flex-direction: column;
  }
  .btn-launcher {
    width: 20em;
  }
  .servers-list > h2 {
    font-size: 40px;
  }
  .server > img {
    width: 16em;
  }
}
@media screen and (max-width: 765px) {
  .social-title { 
    display: none;
  }
  .infos {
    flex-direction: column;
  }
  .uniquePlayer {
    margin-left: 33px;
  }
  nav {
    flex-direction: column;
  }
  nav > ul > li {
    padding-top: 6px;
  }
  .navbarleft {
    flex-direction: column;
  }
  .navbarright {
    flex-direction: column;
    padding-bottom: 6px;
  }
  .logo {
    display: none;
  }
  .responsive {
    display: block;
    position: absolute;
    left: 10px;
    top: 75px;
  }
  .responsive-logo > img {
    width: 60px;
  }
  .lama {
    display: none;
  }
  .hero-text > h1 {
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  .hero-left {
    margin-left: auto;
  }
  .hero-btn {
    /* justify-content: center; */
    height: 40px;
    width: 60%;
    font-size: 15px;      
  }
  .hero-text > p {
    font-size: 20px ;
    width: 80%;  
  }
  .servers {
    grid-template-columns: 1fr;
  }
  /* .hero-btn {
    width: 50%;
  } */
  .footer-bottom {
    height: auto;
    grid-template-columns: 1fr;
  }
  .footer-links {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .copyright {
    position: relative;
  }
  .footer-top {
    position: relative;
  }
  .footer-arrow {
    right: 0px;
  }
}
@media screen and (max-width: 442px) {
  .hero-left {
    margin-left: 60px;
  }
  .hero-btn {
    width: 80%;
    font-size: 16px;
  }
  .launcher {
    height: 700px;
  }
  .launcher > p {
    width: 80%;
  }
  .launcher > p:last-child {
    width: 100%;
  }
  .btn-launcher {
    width: 320px;
  }
  .btn-launcher > img {
    position: absolute;
    left: 32px;
    top: 29%;
    width: 30px;
  }

}






/* STATUT PAGE */
.statut-body {
  background: url("https://mineaurion.com/img/serveurs.jpg") center no-repeat;
  background-size: 100% 100%;
}
.statuts-title {
  margin-top: 60px;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
#statut-servers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin-top: 60px;
}
.statut-server {
  border: solid 6px var(--main-color);
  height: 400px;
  width: 400px;
  border-radius: 6px;
}

.statut-server-title {
  background-color: #242231;
  height: 60px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.statut-server-infos {
  margin-top: 16px;
  margin-left: 14px;
  line-height: 30px;
  color: white;
}
.badge {
  margin-left: 10px;
  font-size: 12px;
  color:white;
  background-color: var(--main-color);
  padding: 3px 7px;
  border-radius: 20px;
}
.playerhead {
  margin-left: 10px;
}
.green {
  color: rgb(21, 228, 21);
}
.red {
  color: rgb(255, 28, 28);
}
/* END STATUT PAGE */


/* AWARDS PAGE */
.awards-rank {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 150px;
}
.awards-title {
  text-align: center;
  font-size: 70px;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 70px;
}
.awards-text {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
  margin-top: 121px;
  
}
.awards-text > p {
  text-align: justify;
  line-height: 60px;
  font-family: 'Roboto';
  font-size: 25px;
}
.awards-subtitle {
  font-size: 40px;
  text-align: center;
  margin-top: 141px;
}
.third-rank {
  position: relative;
}
.second-rank {
  position: relative;
  height: 69vh;
}
.first-rank {
  position: relative;
}
.award-podium-first-rank {
  height: 268px;
  width: 440px;
  background-color: #242231;
  position: absolute;
  bottom: 0;
}
.award-podium-second-rank {
  height: 168PX;
  width: 440px;
  background-color: #242231;
  position: absolute;
  bottom: 0;
}
.award-podium-third-rank {
  height: 84px;
  width: 440px;
  background-color: #242231;
  position: absolute;
  bottom: 0;
}
.award-second-rank {
  display: flex;
  justify-content: center;
}
.award-first-rank {
  display: flex;
  justify-content: center;
  padding-bottom: 3px;
}
.award-third-rank {
  display: flex;
  justify-content: center;
  padding-bottom: 3px;
}
.award-third-skin {
  margin-top: 147px;
}
.award-first-skin {
  margin-top: 3px;
}
.award-second-skin {
  margin-top: 103px;
}
.nbrs-votes {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: solid red 3px;
  margin-bottom: ;
}
.nbrs-votes > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 16px;
  text-transform: uppercase;
}
/* AWARDS END PAGE