/*CSS RESET*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}

.container {
  --container-width: 1320px;
}

#top,
header,
#hero,
#features,
#launcher,
#servers-list,
footer {
  box-sizing:border-box;
  width:100%;
  padding-left:calc(50% - var(--container-width)/ 2);
  padding-right:calc(50% - var(--container-width)/ 2);
}

/*CSS RESET*/


/*TOPBAR*/
#top {
  background-color: #242231;
  height: 65px;
  font-family: sans-serif;
  display: flex;
  align-content: center;
  color: white;
}
#infos {
  display: flex;
  align-items: center;
  margin-right: auto;
}

#uniquePlayer {
  margin-left: 23px;
}

#social {
  display: flex;
  align-items: center;
}
#social-title {
  margin-right: 1rem;
}
#social-links {
  list-style-type: none;
  display: flex;
}
#social-link-discord {
  margin-right: 10px;
  transition: 0.5s;
}
#social-link-discord:hover {
  transform: rotate(360deg);
}


#social-link-ytb {
transition: 0.5s;
}
#social-link-ytb:hover {
  transform: rotate(360deg);
}
/* END TOPBAR */

/* NAVBAR */

header {
  height: 183px;
  background-color: #4F476D;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbarleft {
  display: flex;
  margin-right: auto;
}
.navlink {
  color: white;
  padding-left: 30px;
  font-family: sans-serif;
  font-size: 24px;
  text-decoration: none;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.navlink:hover {
  filter: brightness(1);
  cursor: pointer;
}

#logo {
  margin-top: 8px;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
#logo:hover {
  filter: brightness(1);
  cursor: pointer;
}

#navbarright {
  display: flex;
}

/* END NAVBAR */

/* HERO */

#hero {
  display: grid;
  grid-template-columns: 850px 1fr;
  height: 649px;
  background: url("../img/background.svg") no-repeat center;
}
#hero-left {
  margin-top: 120px;
}
#hero-right {
  margin-top: 62px;
}
#hero-text > h1 {
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 80px;
}
#hero-text > p {
  color: white;
  font-family: sans-serif;
  font-size: 35px;
  width: 465px;
}
#hero-btn {
  margin-top: 47px;
  height: 91px;
  width: 60%;
  border-radius: 6px;
  border-style: none;
  font-family: sans-serif;
  background-color: #4D9ED8;
  color: white;
  font-size: 40px;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
#hero-btn:hover {
  filter: brightness(1);
  cursor: pointer;
}

/* END HERO */

/* FEATURES */
#features {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 337px 337px 337px;
  grid-gap: 154px;
  font-size: 24px;
  color: #4F476D;
  font-weight: 300;
}
.feature {
  position: relative;
}
.feature-logo {
  position: absolute;
  height: 56px;
  width: 56px;
  top: 5px;
  left: -3px;
}
/* .feature-logo {

} */
.feature-title > h2 {
  margin-left: 70px;
  margin-top: 8px;
}
.feature-text > p {
  margin-top: 7px;
  margin-left: 70px;
  width: 100%;
}
/* END FEATURES */

/* LAUNCHER */

#launcher {
  height: 600px;
  background-color: #242231;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}
#launcher > h2 {
  /* padding-top: 132px; */
  font-size: 36px;
  font-weight: 300;
}
#launcher > p {
  margin-left: 210px;
  margin-top: 44px;
  font-size: 24px;
  font-weight: 200;
  line-height: 29px;
}
#btns {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
}
#btns > a {
  text-decoration: none;
}
.btn-launcher {
  width: 450px;
  height: 72px;
  background-color: #4D9ED8;
  border: none;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color:  white;
  text-transform: uppercase;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;

}
.btn-launcher:hover {
  cursor: pointer;
  filter: brightness(1);

}
.btn-launcher > img {
  position: absolute;
  left: 32px;
  top: 12px;
}
#btn-launcher-linux {
  margin-left: 16px;
}

