/*CSS RESET*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}

.container {
  --container-width: 1320px;
}

.top,
header,
.hero,
.features,
.launcher,
.servers-list,
.footer,
.footer-bottom {
  box-sizing:border-box;
  width:100%;
  padding-left:calc(50% - var(--container-width)/ 2);
  padding-right:calc(50% - var(--container-width)/ 2);
}

/*CSS RESET*/


/*TOPBAR*/
.top {
  background-color: #242231;
  height: 65px;
  font-family: sans-serif;
  display: flex;
  align-content: center;
  color: white;
}
.infos {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.uniquePlayer {
  margin-left: 23px;
}

.social {
  display: flex;
  align-items: center;
}
.social-title {
  margin-right: 1rem;
}
.social-links {
  list-style-type: none;
  display: flex;
}
#social-link-discord {
  margin-right: 10px;
  transition: 0.5s;
}
#social-link-discord:hover {
  transform: rotate(360deg);
}


#social-link-ytb {
transition: 0.5s;
}
#social-link-ytb:hover {
  transform: rotate(360deg);
}
/* END TOPBAR */

/* NAVBAR */

header {
  height: auto;
  background-color: #4F476D;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarleft {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.navbarright {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.navlink {
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  text-decoration: none;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.navlink:hover {
  filter: brightness(1);
  cursor: pointer;
}
.responsive {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 6px;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.logo:hover {
  filter: brightness(1);
  cursor: pointer;
}
.burger {
  display: none;
}

/* END NAVBAR */

/* HERO */

.hero {
  display: flex;
  flex-direction: row;
  height: 649px;
  background: url("../img/background.svg") no-repeat center;
}
.hero-left {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
.hero-right {
  display: flex;
  margin-left: auto;
}
.hero-text > h1 {
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 80px;
}
.hero-text > p {
  color: white;
  font-family: sans-serif;
  font-size: 35px;
  width: 465px;
}
.hero-btn {
  margin-top: 47px;
  height: 91px;
  width: auto;
  border-radius: 6px;
  border-style: none;
  font-family: sans-serif;
  background-color: #4D9ED8;
  color: white;
  font-size: 40px;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.hero-btn:hover {
  filter: brightness(1);
  cursor: pointer;
}

/* END HERO */

/* FEATURES */
.features {
  display: flex;
  margin-top: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #4F476D;
  font-weight: 300;
}
.feature {
  position: relative;
}
.feature-logo {
  position: absolute;
  height: 56px;
  width: 56px;
  top: 5px;
  left: -3px;
}
/* .feature-logo {

} */
.feature-title > h2 {
  margin-left: 70px;
  margin-top: 8px;
}
.feature-text > p {
  margin-top: 7px;
  margin-left: 70px;
  width: auto;
}
/* END FEATURES */

/* LAUNCHER */

.launcher {
  height: 600px;
  background-color: #242231;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}
.launcher > h2 {
  /* padding-top: 132px; */
  font-size: 36px;
  font-weight: 300;
}
.launcher > p {
  margin-left: 210px;
  margin-top: 44px;
  font-size: 24px;
  font-weight: 200;
  line-height: 29px;
}
.btns {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
}
.btns > a {
  text-decoration: none;
}
.btn-launcher {
  width: 450px;
  height: 72px;
  background-color: #4D9ED8;
  border: none;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color:  white;
  text-transform: uppercase;
  filter: brightness(0.8);
  transition: .5s;
  transition-property: filter;
}
.btn-launcher:hover {
  cursor: pointer;
  filter: brightness(1);

}
.btn-launcher > img {
  position: absolute;
  left: 32px;
  top: 12px;
}
.btn-launcher-linux {
  margin-left: 16px;
}

/* END LAUNCHER */

/* SERVERS LIST */
.servers-list {
  margin-top: 150px;
}
.servers-list > h2 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4F476D;
  text-align: center;
}
.servers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  margin-top: 63px;
}
.server > img {
  transition: 0.6s;
  /* filter: blur(2px); */
}
.server > img:hover {
 /* filter: blur(0); */
 cursor: pointer;
 transform: scale(1.07);
}
#curret {
  margin-top: 10px;
  height: 43px;
  width: 100%;
  
}
#servers-info {
  margin-top: 13px;
  width: 100%;
  height: 370px;
  background-color: #4F476D;
  font-family: "Roboto", sans-serif;
  display: none;
}

#server-text {
  padding-left: 119px;
  padding-top: 80px;
}
.server-name {
  color: #ffff;
  font-size: 40px;
}
.server-ip {
  margin-top: 36px;
  font-weight: 300;
  font-size: 25px;
  color: #A4ABBF;
}
.server-description {
  font-size: 25px;
  margin-top: 38px;
  font-weight: 300;
}

/* END SERVERS LIST */


/* FOOTER */
.footer {
  
  margin-top: 150px;
  position: relative;
}
#footer-top {
  background-color: #242231;
  height: 82px;
  position: absolute;
  width: 100%;
  left: 0;
}
#footer-arrow {
  background-color: #4D9ED8;
  height: 82px;
  width: 82px;
  position: absolute;
  right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.8);
  transition: .5s;
}
#footer-arrow:hover {
  filter: brightness(1);
  cursor: pointer;
}
#arrow-top {
  height: 20px;
  width: 38px;
}

.footer-bottom {
  background-color: #4D9ED8;
  height: 335px;
  width: 100%;
  font-family: sans-serif;
  color: white;
  position: absolute;
  left: 0;
  top: 82px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-links {
  margin-top: 70px;
}
.footer-links > ul {
  margin-top: 26px;
}
.footer-links > ul > li {
  list-style-type: none;

}
.footer-title {
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.footer-link {
  font-size: 16px;
  color: #242231;
  text-transform: uppercase;
  line-height: 23px;
  text-decoration: none;
  display: flex;
  justify-content: center;

}
#copyright {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: #242231;
  height: 60px;
}
#copyright-text {
color: wheat;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
position: absolute;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1335px) {
  .infos {
    margin-top: 15px;
    flex-direction: column;
  }
  .social {
    margin-top: 20px;
    flex-direction: column;
  }
  .social-title {
    display: none;
  }
  .onlinePlayers {
    margin-left: -5px;
  }
  .social-links {
    margin-right: 20px;
  }
  .navbarleft {
    margin-top: 20px;
    flex-direction: column;
  }
  .navlink {
    line-height: 30px;
  }
  .navbarright {
    flex-direction: column;
    margin-bottom: 20px;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .responsive {
    display: block;
  }
  .hero-left {
    margin-left: 40px;
  }
  .lama {
    width: 300px;
  }
  .hero {
    justify-content: center;
    grid-template-columns: 2fr 1fr;
  }
  .hero-text > h1 {
    font-size: 60px;
  }
  .hero-text > p {
    font-size: 25px;
  }
  .hero-btn {
    width: auto;
  }
  .features {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature {
    margin-top: 40px;
  }
  .feature-logo {
    margin-left: px;
  }
  .feature-text {
    width: 80%;
  }
  .logo {
    display: none;
  }
  .feature-text > p {
    width: auto;
  }
  .launcher > p {
    width: 80%;
    margin-left: 0;
  }
  .btns {
    flex-direction: column;
  }
  .btn-launcher-linux {
    margin-top: 20px;
    margin-left: 0;
  }
  .servers {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-around;
  }
  .server {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1000px){
  
  .hero-left {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
  } 
  .lama {
    display: none;
  } 
  .btns {
    flex-direction: column;
  }
  .btn-launcher-linux {
    margin-top: 20px;
    margin-left: 0;
  }
  .servers {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  } 
}
@media screen and (max-width: 650px) {
  .servers {
    grid-template-columns: repeat(1, 1fr);
  }
}